@model List<StudentViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Welcome to the my first dot net web application</a>.</p>
</div>

<div class="wrapper">
      @foreach (var student in Model){
           <a asp-route-id="@student.Id" asp-action="Details" style="color:inherit;text-decoration:none">
               <div class="box">
                  <p>
                     <b> @Html.DisplayNameFor(model => model[0].Id):</b>  @Html.DisplayFor(modelItem => student.Id )
                  </p>
                  <p>
                    <b> @Html.DisplayNameFor(model => model[0].Name): </b> @Html.DisplayFor(modelItem => student.Name)
                  </p>
             </div>
          </a>
      }
</div>